@keyframes pisca{
    from{
        color: rgba(220,220,290, 0.3);
    }
    to{
        color: gray;
    }
}

@keyframes aparecer{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

*{
    padding: 0;
    margin: 0;
}

body{
    background: radial-gradient(black, rgba(0, 0, 0, 0.89));
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    color: white;
    text-align: center;
}

header img{
	width: 300px;
}

header span{
    font-size: 15px;
    color: rgba(220,220,290, 0.3);
    display: block;
    animation-name: pisca;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#menu{
    display: none;
    animation-name: aparecer;
    animation-duration: 0.5s;
    justify-content: center;
}

#menu button{
    width: 30px;
    height: 25px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu img{
    width: 25px;
}

#menu button:hover{
    cursor: pointer;
    width: 40px;
    height: 35px;
    outline: none;
}

#procurarPessoas, #addPessoas{
    display: none;
    justify-content: center;
    animation-name: aparecer;
    animation-duration: 0.5s;
    animation-name: aparecer;
    animation-duration: 0.5s;
}

#procurarPessoas input, #addPessoas input{

   width: 190px;
   outline: none;
   border-radius: 10px;
}

#procurarPessoas img, #addPessoas img{
    width: 20px;
    /* margin-left: 8px;
    margin-top: 20px; */
    cursor: pointer;
}

#buscar button:hover{
    background-color: rgba(255, 255, 255, 0.096);
}

button {
    background-color: transparent;
    border: none;
    width: 30px;
    height: 25px;
    outline: none;
}

#conteudo{
    width: 95%;
    max-width: 700px;
    margin: 0 auto;
    display: none;
    border: rgb(114, 114, 114) solid 1px;
    color: white;
    margin-top: 20px;
}

ul{
    list-style: none;
}

